---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="html 파일 다운로드 예제">
  <!-- 예제코드 -->
  <a href="/favicon.ico" download>download</a>
  <br />
  <label>이름 지정</label>
  <a href="/favicon.ico" download="logo.ico">download</a>
</Layout>
