---
import Layout from "~/layouts/TopLayout.astro";
---

<Layout depth="0">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    <div class="container max-w-3xl">
      <div>
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          사용
        </div>
        <ul class="text-gray-400">
          <li><a href="https://astro.build">Astro</a></li>
          <li><a href="https://tailwindcss.com">TailwindCSS</a></li>
          <li><a href="https://www.codesnippet.run">CodeSnippet</a></li>
          <li><a href="https://svgrepo.com">Svgrepo</a></li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
