---
import Layout from "../layouts/TopLayout.astro";

const menus = [
  {
    title: "JavaScript",
    url: "/js",
  },
  {
    title: "HTML",
    url: "/html",
  },
  {
    title: "CSS",
    url: "/css",
  },
];
---

<Layout depth="0">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    {
      menus.map((menu) => (
        <a
          href={menu.url}
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <div class="text-2xl font-bold">{menu.title}</div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
