<footer
  class="border-t border-gray-200 dark:border-slate-900 my-20 pt-3 text-right"
>
  <ul
    class="container max-w-3xl text-gray-400 font-sono tracking-tighter text-sm"
  >
    <li>
      <a href="/tags">Tags</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</footer>
