---
const { urls } = Astro.props;
---

<div class="text-sm mt-4">
  <ul>
    {
      urls?.map((url: string) => (
        <li>
          <a
            href={url}
            target="_blank"
            rel="help"
            class="text-sky-400 truncate block"
          >
            {url}
          </a>
        </li>
      ))
    }
  </ul>
</div>
