---
const { title, url } = Astro.props;
---

<div
  class="relative flex flex-col bg-white rounded shadow-xl hover:shadow-lg transition"
>
  <a href={url} class="transition p-3 hover:text-red-500">
    {title}
  </a>
</div>
