---
const { title, url } = Astro.props;
---

<div
  class="relative flex flex-col bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
>
  <a href={url} class="transition p-3 hover:text-red-500">
    {title}
  </a>
</div>
