---
import { siteTitle } from "../config.mjs";
---

<div class="font-sono text-center m-8 mb-2">
  <a href="/" class="p-5 bg-red-600 font-bold text-5xl text-white inline-block"
    >{siteTitle}</a
  >
</div>
