<div class="brand">
  <a href="/">PlayTip</a>
</div>

<style is:inline>
  .brand {
    font: 3em Sono;
    text-align: center;
    margin: 30px 0;
  }
  .brand a {
    color: #fff;
    background-color: #d2001a;
    padding: 10px;
  }
</style>
