<nav class="nav">
  <div class="nav-left">
    <div class="logo">
      <a href="/">PlayTip</a>
    </div>
  </div>
  <!-- <div class="nav-right">
    <a class="button outline">Button</a>
  </div> -->
</nav>

<style is:inline>
  .logo {
    font: 1.7em Sono;
    text-align: center;
    margin: 30px 0 10px 0;
  }
  .logo a {
    color: #fff;
    background-color: #d2001a;
    padding: 5px;
  }
</style>
