---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";

const { title, depth } = Astro.props;
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <Head title={title} />
  </head>
  <body>
    <div class={`container depth${depth}`}>
      <Nav />
      {title && <h1>{title}</h1>}
      <slot />
    </div>
  </body>
</html>
