---
import Layout from "~/layouts/BaseLayout.astro";
import Nav from "~/components/Nav.astro";

const { title, depth, description } = Astro.props;
---

<Layout title={title} depth={depth} description={description}>
  <Nav slot="nav" />
  {
    title && (
      <h1
        slot="title"
        class="text-3xl md:text-4xl font-bold leading-tighter
        tracking-tighter mb-4 font-heading"
      >
        {title}
      </h1>
    )
  }
  <slot />
</Layout>
